<ion-header>
  <ion-toolbar>
    <ion-title>Resultado de Predicción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-container">
    <div class="result-message">
      <div *ngIf="gender && age && ethnicity">
        <h2>¡¡¡ Predicción Exitosa !!!</h2>
        <div>
          <img *ngIf="gender === 'Mujer'" 
               src="https://img.icons8.com/color/72/user-female.png" 
               alt="Female Icon" 
               style="height: 144px; vertical-align: middle;" />
          <img *ngIf="gender === 'Hombre'" 
               src="https://img.icons8.com/color/72/user-male.png" 
               alt="Male Icon" 
               style="height: 144px; vertical-align: middle;" />
        </div>
        <div class="prediction-container">
          <p><strong>Género:</strong> {{ gender }}</p>
          <p><strong>Edad:</strong> {{ age }} años</p>
          <p><strong>Etnia:</strong> {{ ethnicity }}</p>
        </div>
      </div>

      <!-- Mostrar solo el resultado si no existen gender o age -->
      <div *ngIf="!gender || !age">
        <h2 style="color: #ff3b30;">{{ result }}</h2>
        <ion-icon name="sad" style="font-size: 200px; color: #ff3b30; margin-right: 10px;"></ion-icon>
      </div>
    </div>

    <ion-button expand="block" (click)="goToTab1()">Volvel al inicio</ion-button>
  </div>
</ion-content>
