ion-toolbar {
    --background: #6C63FF;
    --color: white;
}
  
ion-content {
    --background: #F9FAFB; 
}
  
.text-container {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    height: 80vh;
}

.prediction-container {
    background-color: #6C63FF;
    padding: 5%;
    border-radius: 2rem;    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 3vh 0;

    p {
        color: white;
    }
}

h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

h2 {
    color: #34c759;
    font-weight: 700;
}

  
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 24px;
}
    
  ion-button {
    font-size: 16px;
    color: white;
    width: 15rem;
    --background: #6C63FF;
    --background-activated: #005bb5;
  }