<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Captura de Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-container">
    <video #cameraPreview autoplay playsinline></video>
    <div class="frame"></div>
  </div>

  <!-- Contenedor de botones de acción alineados horizontalmente -->
  <div class="button-container">
    <ion-button shape="round" size="large" (click)="capturePhoto()">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
  </div>
</ion-content>
