<ion-header>
  <ion-toolbar>
    <ion-title>Foto Capturada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="captured-photo">
    <img [src]="capturedImage" alt="Foto capturada" />
  </div>

  <div class="button-container">
    <ion-button color="danger" (click)="cancel()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
    <ion-button color="success" (click)="sendToServer()">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>
